body {
  margin: 0;
  padding: 0;
  /*display: flex;
  flex-wrap: wrap;*/
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.header {
  display: flex;
  width: 100vw;
  height: auto;
  justify-content: center;
  background-color: grey;
}

.main {
  width: 70vw;
  height: auto;
  background-color: blanchedalmond;
}

.first {
  display: flex;
  justify-content: center;
}

article {
  margin: 15px;
  padding: 20px;
  background-color: coral;
}

.second article {
  display: flex;
  justify-content: center;
  width: calc((100% / 2) - 40px);
}

.second {
  display: flex;
  justify-content: space-around;
}

.third {
  display: flex;
  justify-content: center;
}

aside {
  display: flex;
  justify-content: center;
  width: 30vw;
  padding-top: 15px;
  background-color: lightgreen;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: auto;
  background-color: grey;
}
section {
  margin: 15px;
  padding: 20px;
  background-color: aliceblue;
}
